html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: url('/public/Plumbus-removebg-preview'), auto;

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

.welcomePage {
  display: inline;
  text-align: center;
}

.characterCard {
  display: inline-block;
  text-align: center;
}

.characterPic {
  width: 10vw;
}

p {
  font-size: 12px;
  width: 25vw;
}

ul {
  list-style-type: none;
}

Locations {
  background-color: black;

}

.locationBody {
  background: url("./EveryD.jpg") no-repeat fixed ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.locations {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 16%, rgba(182,182,182,0.7791305205047319) 35%, rgba(0,0,0,0.561464905362776) 39%, rgba(255,255,255,0) 49%, rgba(0,0,0,0) 80%, rgba(255,255,255,0) 100%);
  color: white;

}
#navbarsExample07 {
  font-size: 12px;
}


