html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: url('/public/RM_CIRCLE-removebg-preview'), auto;
  background-color: black;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

@font-face {
  font-family: 'GetSchwifty';
  src: local('GetSchwifty'), url(./fonts/get_schwifty.ttf) format('truetype');
}

.welcomePage {
  display: inline;
  /* text-align: center; */
}

.welcomeHeader, .episodesPage, .charPage {
  text-align: center;
}

.welcomeImage {
  max-width: 1100px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;

}

.aboutPage, .aboutIntro, .aboutTeam {
  text-align: center;
  margin-bottom: 30px;
}

.aboutTeam, .locationPic, .profilePic {
  margin-top: 30px;
}

.ab1 {
  color: aqua;
  text-align: center;
}

.ab2 {
  color: lime;
}

.devInfo {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4,300px);
  margin: 0 auto;
}

.devTitle {
  margin: 50px 0 50px 0;
  color: aqua;
}

.devImage {
  width: 15vw;
}

.devText1 {
  font-family: 'GetSchwifty';
  font-size: 24px;
  color: aqua;
  margin-top: 25px;
}

.devText2 {
  font-family: 'GetSchwifty';
  font-size: 24px;
  color: lime;
  margin-top: 25px;
}

.spacer {
  margin-bottom: 100px;
}

.characterCard {
  display: grid;
  grid-template-columns: repeat(6,180px);
  margin: 0 auto;
  /* text-align: center; */
}

.characterPic {
  border: solid 2px white;
  width: 10vw;
  margin-bottom: 10px;
}

.charPic {
  border: solid 5px aqua;
  width: 10vw;
  margin-bottom: 20px;
}

.charPage {
  text-align: center;
}

.characterName {
  margin-bottom: 50px;
  text-align: center;
}

.charactersTitle, .episodesTitle, .locationsTitle, .epPage, .profilePage {
  text-align: center;
}

form, .py-2 {
  color: black;
}

.charBtn, .epBtn, .loBtn, .aboutBtn {
  width: 225px;
  height: 100px;
  background-color: lime;
  margin: 20px 25px 20px 25px;
  font-size: 28px;
  font-family: 'GetSchwifty';
  border: solid 2px aqua;
  border-radius: 25%;
  display: inline-block;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'GetSchwifty';
}

hr {
  background-color: white;
}

p {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  /* width: 25vw; */
}

ul {
  list-style-type: none;
}

Locations {
  background-color: black;
  text-align: start;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;

}

/* .locationBody {
  display: flex;
  text-align: start;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column
} */

.locationPic {
  width: 75%;
  height: auto;
}

.locationBody {
  display: grid;
  grid-template-columns: repeat(2,600px);
  margin: 0 auto;
}

.dropdown {
  background-color:black;
  margin: 80px;
  text-align: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
  z-index: 1;
  text-align: left;
}

.dropdown-content li:hover 
{background-color:linear-gradient(90deg, black);
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-align: left;
}

.dropdown:hover .dropbtn {
  background-color: linear-gradient(90deg, rgba(0,0,0,0.7791491596638656) 0%, rgba(0,0,0,0.7595413165266106) 42%);
  text-align: left;
 
}

.dropbtn {
  color: black;
  background:lime;
	background-color: black;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #0ba700;
  text-align: left;
  
}

.theoryReverse {
  display: flex;
  flex-direction: column-reverse;
}

#navbarsExample07 {
  font-size: 12px;
}

.theoriesInfo {
  text-align: start;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.theoriesPage {
  text-align: center;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.theoryText {
  width: 500px;
  /* height: 100px; */
  text-align: center;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.commentText {
  width: 300px;
  text-align: center;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.theoryBtn, #deleteBtn {
  width: 150px;
  height: 50px;
  background-color: aqua;
  color: black;
  margin: 20px 25px 20px 25px;
  font-size: 18px;
  font-family: 'GetSchwifty';
  border: solid 5px lime;
  border-radius: 35%;
  display: inline-block;
}

.theoryform {
  display: flex;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}