html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: url('/public/RM_CIRCLE-removebg-preview'), auto;
  background-color: black;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

@font-face {
  font-family: 'GetSchwifty';
  src: local('GetSchwifty'), url(./fonts/get_schwifty.ttf) format('truetype');
}

.welcomePage {
  display: inline;
  text-align: center;
}

.aboutPage, .aboutIntro, .aboutTeam {
  text-align: center;
}

.characterCard {
  display: grid;
  grid-template-columns: repeat(6,180px);
  margin: 0 auto;
  /* text-align: center; */
}

.characterPic {
  width: 10vw;
}

.charactersTitle {
  text-align: center;
}

form, .py-2 {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'GetSchwifty';
}

hr {
  background-color: white;
}

p {
  font-size: 12px;
  width: 25vw;
}

ul {
  list-style-type: none;
}

Locations {
  background-color: black;

}

.locationBody {
  background: url("./EveryD.jpg") no-repeat fixed ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.locations {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 16%, rgba(182,182,182,0.7791305205047319) 35%, rgba(0,0,0,0.561464905362776) 39%, rgba(255,255,255,0) 49%, rgba(0,0,0,0) 80%, rgba(255,255,255,0) 100%);
  color: white;

}
#navbarsExample07 {
  font-size: 12px;
}


